* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,88,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  perspective: 800px;
}

.cube {
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  animation: rotation 9s infinite linear;
}

@keyframes rotation {
  10% {
     transform: rotateX(0deg);
    }
  20% {
    transform: rotateX(-90deg);
   }
 30% {
  transform: rotateX(-180deg);
  }
40% {
  transform: rotateX(-270deg);
  }
50% {
  transform: rotateX(-360deg);
  }
60% {
 transform: rotateY(-90deg);
  }
70% {
transform: rotateY(-180deg);
  }
80% {
transform: rotateY(-270deg);
  }
90% {
transform: rotateY(-360deg);
  }
}

.cube__face {
  width:250px;
  height: 250px;
  border: 2px solid black;
  position: absolute;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  line-height:6;
}

.cube__face--front {
  background-color: rgba(214, 52, 23, 0.452);
  transform: rotateX(0deg) translateZ(125px);
}

.cube__face--back {
  background-color: rgba(6, 209, 245, 0.452);
  transform: rotateY(-180deg) translateZ(125px);
}

.cube__face--right {
  background-color: rgba(8, 8, 8, 0.452);
  transform: rotateY(90deg) translateZ(123px);
}

.cube__face--left {
  background-color: rgba(12, 221, 75, 0.452);
  transform: rotateY(-90deg) translateZ(123px);
} 

.cube__face--top {
  background-color: rgba(255, 0, 157, 0.452);
  transform: rotateX(90deg) translateZ(125px);
}

.cube__face--bottom {
  background-color: rgba(75, 6, 66, 0.452);
  transform: rotateX(-90deg) translateZ(125px);
}